body {
    background-color: #fff;
    color: #333;
    margin: 0;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav {
    background-color: #cc0000;
    padding: .5em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
.first{
  margin-left:30px;
}
.second{
  margin-left:60px;
}
.third{
  margin-left:90px;
}
.fourth{
	margin-left:105px;
}

.About{
	list-style-type:none;
}

  .feature {
      width: 200px;
      float: left;
      margin: 0 20px 20px 0;
  }
  .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; 
  }
  .row {
      
      display: flex;
      
  }